@model FrontendObligationChecker.ViewModels.LargeProducer.LargeProducerErrorViewModel

@{
    var title = Localizer["LargeProducerError.Title"];
    ViewData["Title"] = title;
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">@title</h1>
                <p class="govuk-body">@Localizer["LargeProducerError.ThereWasAProblem"]</p>
                @using (Html.BeginForm("File", "LargeProducerRegister", new { Model.NationCode }, FormMethod.Get))
                {
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        @Localizer["LargeProducerError.TryAgain"]
                    </button>
                }
                <br>
                @Html.ActionLink(Localizer["LargeProducerError.BackToLargeProducers"].Value,
                    "Get",
                    "LargeProducerRegister",
                    null,
                    new {@class = "govuk-link"})
            </div>
        </div>
    </main>
</div>